/* Style global pour le corps de la page */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Style pour l'en-tête */
header {
    width: 100%;
    padding: 20px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style pour le logo */
.logo {
    font-size: 24px;
    font-weight: 700;
    color: #e50914;
}

.back-button {
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.back-button:hover {
    background-color: #f6121d;
}

/* Style pour la section principale */
main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour la section du titre */
.title-section {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

/* Style pour le titre principal */
h1 {
    font-size: 2.5em;
    margin: 0;
    color: #e50914;
}

/* Style pour la section des boutons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 10px; /* Espacement entre les boutons */
}

/* Style pour chaque bouton */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.youtube-button .youtube-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #FF0000;
    transition: background-color 0.3s;
}

.youtube-button .youtube-link:hover {
    background-color: #CC0000;
}

.streamplus-button .streamplus-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #1DB954;
    transition: background-color 0.3s;
}

.streamplus-button .streamplus-link:hover {
    background-color: #14843A;
}

.hotstream-button .hotstream-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #FF4500;
    transition: background-color 0.3s;
}

.hotstream-button .hotstream-link:hover {
    background-color: #CC3700;
}

.twitch-button .twitch-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #9146FF;
    transition: background-color 0.3s;
}

.twitch-button .twitch-link:hover {
    background-color: #7233CC;
}
.netflix-button .netflix-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff0000;
    transition: background-color 0.3s;
}

.netflix-button .netflix-link:hover {
    background-color: #ff0000;
}

/* Style pour les icônes */
img.youtube-icon, img.streamplus-icon, img.hotstream-icon, img.twitch-icon, img.netflix-icon {
    width: 50px;
    height: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }

    .back-button {
        margin-top: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}


